@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/backgorundImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.header__text span {
  color: linear-gradient(89.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
}

.logoGradient {
  background: linear-gradient(89.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
