*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


input {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Nexa-bold";
  src: url("../pages/fonts/Nexa-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
}

.font-nexa {
  font-family: "Nexa-bold", sans-serif;
  font-weight: bold;
}

.landingPage {
  background-image: url("../assets/backgorundImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.header__text span {
  color: linear-gradient(89.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
}

.logoGradient {
  background: linear-gradient(89.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btnBackgroundGradient {
  background: linear-gradient(89.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
}

.buttonGradient {
  background: linear-gradient(180deg, #fc8c02 0%, #5618ff 100%);
}

/* Form */

input {
  width: 100%;
  /* padding: 0.65rem 0.5rem; */
}

.mainCont {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  width: 489px;
}

.leftCont {
  width: 210px;
  height: 5px;
  background-color: #1f1f1f;
}

.rightCont {
  width: 210px;
  height: 5px;
  background-color: #1f1f1f;
}

.createBounty {
  border-image: linear-gradient(89.56deg, #fc8c02 -42.7%, #5618ff 117.16%) 30;
  border-width: 4px;
  border-style: solid;
}

.borderG {
  width: 489px;
  height: 56px;
  border-top: 2px solid #fc8c02;
  border-bottom: 2px solid #5618ff;
  background-image: linear-gradient(89.56deg, #fc8c02 -42.7%, #5618ff 117.16%),
    linear-gradient(89.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
  background-size: 2px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}

.btnBorderGradient {
  display: flex;
  width: 489px;
  height: 56px;
  /* The background is used to specify the border background */
  background: -moz-linear-gradient(60.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
  background: -webkit-linear-gradient(
    60.56deg,
    #fc8c02 -42.7%,
    #5618ff 117.16%
  );
  /* Background origin is the padding box by default.
  Override to make the background cover the border as well. */
  -moz-background-origin: border;
  background-origin: border-box;
  /* A transparent border determines the width */
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: inset 0 0 1px black, /* Inset shadow */ 0 0 12px black,
    /* Outset shadow */ inset -999px 0 0 black; /* The background color */
}

.btnBorderGradient2 {
  display: flex;
  width: 160px;
  height: 60px;
  /* The background is used to specify the border background */
  background: -moz-linear-gradient(60.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
  background: -webkit-linear-gradient(
    60.56deg,
    #fc8c02 -42.7%,
    #5618ff 117.16%
  );
  /* Background origin is the padding box by default.
  Override to make the background cover the border as well. */
  -moz-background-origin: border;
  background-origin: border-box;
  /* A transparent border determines the width */
  border: 1px solid transparent;
  border-radius: 50px;
  box-shadow: inset 0 0 1px black, /* Inset shadow */ 0 0 12px black,
    /* Outset shadow */ inset -999px 0 0 black; /* The background color */
}

.btnBorderGradient3 {
  display: flex;
  width: 350px;
  height: 48px;
  align-items: center;
  justify-content: center;
  /* The background is used to specify the border background */
  background: -moz-linear-gradient(60.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
  background: -webkit-linear-gradient(
    60.56deg,
    #fc8c02 -42.7%,
    #5618ff 117.16%
  );
  /* Background origin is the padding box by default.
  Override to make the background cover the border as well. */
  -moz-background-origin: border;
  background-origin: border-box;
  /* A transparent border determines the width */
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: inset 0 0 1px black, /* Inset shadow */ 0 0 12px black,
    /* Outset shadow */ inset -999px 0 0 black; /* The background color */
}

.btnBorderGradient4 {
  display: flex;
  width: 220px;
  height: 50px;
  align-items: center;
  justify-content: center;
  /* The background is used to specify the border background */
  background: -moz-linear-gradient(60.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
  background: -webkit-linear-gradient(
    60.56deg,
    #fc8c02 -42.7%,
    #5618ff 117.16%
  );
  /* Background origin is the padding box by default.
  Override to make the background cover the border as well. */
  -moz-background-origin: border;
  background-origin: border-box;
  /* A transparent border determines the width */
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: inset 0 0 1px black, /* Inset shadow */ 0 0 12px black,
    /* Outset shadow */ inset -999px 0 0 black; /* The background color */
}

.btnBorderGradient5 {
  display: flex;
  width: 248px;
  height: 32px;

  align-items: center;
  justify-content: center;
  /* The background is used to specify the border background */
  background: -moz-linear-gradient(60.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
  background: -webkit-linear-gradient(
    60.56deg,
    #fc8c02 -42.7%,
    #5618ff 117.16%
  );
  /* Background origin is the padding box by default.
  Override to make the background cover the border as well. */
  -moz-background-origin: border;
  background-origin: border-box;
  /* A transparent border determines the width */
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: inset 0 0 1px black, /* Inset shadow */ 0 0 12px black,
    /* Outset shadow */ inset -999px 0 0 black; /* The background color */
}

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  gap: 2rem;
}

.layout__main-content {
  flex-grow: 1;
}

.sidebar__wrapper {
  position: relative;
}

.sidebar {
  width: 17rem;
  height: 100%;
  background-color: var(--color-bg);
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}

.sidebar__top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.sidebar__logo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 1rem;
}

.sidebar__logo-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.sidebar__list {
  list-style: none;
}

.sidebar__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: var(--color-sidebar-item);
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar__link--active {
  color: #fff;
  background-color: #10b981;
}

.sidebar__icon {
  display: inline-block;
  font-size: 1.2rem;
}

.sidebar__name {
  margin-left: 0.5rem;
}

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar__name,
[data-collapse="true"] .sidebar__logo-name {
  display: none;
}

.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}

.removeIcon-container {
  color: white;
  font-size: 1.2rem;
}

.settingIcon-container {
  color: white;
  font-size: 1.2rem;
}

.connect-button {
  background-color: black;
}
