@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Nexa-bold";
  src: url("../pages/fonts/Nexa-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
}

.font-nexa {
  font-family: "Nexa-bold", sans-serif;
  font-weight: bold;
}

.logo {
  color: linear-gradient(89.56deg, #fc8c02 -42.7%, #5618ff 117.16%);
}

.radical-1 {
  position: absolute;
  width: 340.8px;
  height: 340.8px;
  left: 1114.08px;
  top: 1.72px;

  /* Linear */

  background: linear-gradient(180deg, #fc8c02 0%, #5618ff 100%);
  filter: blur(94.0061px);
  backdrop-filter: blur(25px);

}

.radical-2 {
  position: absolute;
  width: 340.8px;
  height: 340.8px;
  left: -25.85px;
  top: 676.8px;
  overflow: hidden;
  /* Linear */

  background: linear-gradient(180deg, #fc8c02 0%, #5618ff 100%);
  filter: blur(94.0061px);
  backdrop-filter: blur(25px);
}

.border-gradient{
  border:  linear-gradient(180deg, #fc8c02 0%, #5618ff 100%);
  
}
